[flake8]
    ignore = E265, F811, PT001, DJ05, D100, D105, D104, W504
    max-line-length = 79
    max-complexity = 10
    exclude = 
        tests
        alembic/versions/
        venv
    per-file-ignores =
        __init__.py: F401, E402
